@model XWTWeb.Models.TournamentMain


@using (Html.BeginForm("AddEdit", "Tournament", FormMethod.Post))
{   
    <form>
        <div class="jumbotron d-flex justify-content-center">
            <div class="col-12 col-md-7 col-lg-5">

                <label class="col font-weight-bold pb-2" style="font-size:x-large">Tournament Information</label>
                <div class="w-100"></div>

                <div class="form-row">
                    <div class="form-group col">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control col", @required = "" })
                        <label class="form-control-placeholder" for="Name">Tournament Name</label>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        @Html.TextBoxFor(model => model.StartDate, "{0:MM/dd/yyyy}", new { @class = "form-control col", @required = "" })
                        <label class="form-control-placeholder" for="StartDate">Start Date</label>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        @Html.TextBoxFor(model => model.MaxPoints, new { @class = "form-control col", @required = "" })
                        <label class="form-control-placeholder" for="MaxPoints">Max Points</label>
                    </div>

                    <div class="form-group col">
                        @Html.TextBoxFor(model => model.RoundTimeLength, new { @class = "form-control col", @required = "" })
                        <label class="form-control-placeholder" for="RoundTimeLength">Round Time</label>
                    </div>
                </div>

                <div class="w-100"></div>
                <button type="submit" class="btn btn-primary col">Save</button>

                @*<input type="hidden" id="submitCommand" name="submitCommand" value="" />*@

            </div>
        </div>
    </form>

}

<script type="text/javascript">

        $(document).ready(function () {
            $("#StartDate").datepicker({
                autoclose: true
            });
        });

</script>