body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.input-login{
    max-width: 280px;
}

/*https://codepen.io/peiche/pen/xOVpPo*/
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

.lower-right-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.col-12 {
    flex-grow: 1;
    transition: all 400ms ease;
}

/*.col-lg-1 {
    flex-shrink: 1;
    transition: all 400ms ease;
}*/

.text-left {
    flex-shrink: 1;
    width:0;
}

.sticky-offset {
    top: 60px;
    z-index:1000 !important;
}

